version: "3.9"

services:
  frontend-dev:
    build:
      context: .
      target: dev
    container_name: bingo-board-dev
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0 --port 5173
    profiles:
      - dev

  frontend-prod:
    build:
      context: .
      target: prod
    container_name: bingo-board-prod
    ports:
      - "8081:80"
    environment:
      - NODE_ENV=production
    profiles:
      - prod
